html, body {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
h4 {
  margin: 0;
  margin-top: .4rem;
}
.carousel-container {
  justify-content: center;
}
.carousel {
  height: 20rem;
  box-shadow: 0px 4px 8px #c4c4c4;
  width: 100vw;
}

.door-list {
  margin: 1rem;
  flex-wrap: wrap;
}

.modal-container {
  background-color: #ffffff;
}
.modal-header {
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.close-icon-modal {
  height: 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
}
.modal-product-img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}